<nav class="navbar">
    <h1>
        <a [routerLink]="['/']">Test app</a>
    </h1>
    <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/']">Home</a>
        </li>
        <li routerLinkActive="active"><a [routerLink]="['/list']">list</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/create']">create</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/remove']">remove</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/edit']">edit</a></li>
    </ul>
</nav>
<div class="wrap-container">
    <div class="container sidebar">
        <div>
            <span (click)="fetchTodos()">Departments </span><br>
            <span (click)="fetchPosts()">Employees</span>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>