<div class=".card-cat ">
    <b class="text">Это мой кот "Изюм", он помогает мне изучать программирвоание.</b>
    <div>А <i>"ЭТО ВСЕ"</i> моя первой странице созданной с помощью Angualar. Она содержит недостатки, но я клянусь, запросы работали как часики, а слушатели видели изменения и рендерели списки, уверен я их поправлю когда, поэтому я продолжаю изучать ангшуляр
        и расширать свой инструментарий чтобы радоавть будущих пользователей моих интерфейсов</div>
    <img class="cat" src="https://3.downloader.disk.yandex.ru/preview/d557971ba66bbffd1638f6a9612107d0ccf9b14f13d8b81164ed6ce4068b6e92/inf/ZNWdrAOMLBXYARSuMFYeOGdjQ1oGcBvQb7mGTMgdTYzEQf_V1BdfWJDBOvfd_4WgSBigEyac7gkwatbvrfiUIA%3D%3D?uid=469177355&filename=%D0%BA%D0%BE%D1%82.jpg&disposition=inline&hash=&limit=0&content_type=image%2Fjpeg&owner_uid=469177355&tknv=v2&size=1898x942"
        alt="Кот">
</div>