<h1>edit works!</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, magnam!</p>

<div class="container">
    <div>
        <!-- dis: block -->
        <input type="text" [(ngModel)]="inputName" maxlength="25" placeholder="new title...">
        <div>
            <!-- <button class="btn" (click)="editTodo(todo.id, inputName) ">edit</button> -->
            <div class="grid-objects" *ngFor="let obj of abstractObject">title {{obj.title}} :: {{obj.id}}
                <button class="btn" (click)="edit(obj.id, inputName)">edit</button>
            </div>
        </div>
    </div>
</div>